<!DOCTYPE html>
<html>
  <head>
    <title>Testing</title>
  </head>
  <body>
    <% def initialize(@name = "Joe")%>
      <% @name = name %>
    <% end %>
    <h1>Goodbye <%=name%></h1>
  </body>
<html>
